@model List<ACES.Models.ViewModels.CompareResultsVM>
    
@{
    ViewData["Title"] = "ComparisonResults";
}

<h1>@ViewBag.AssignmentName Comparison Results</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Final Commit</th>
                <th>Watermarks</th>
                <th>White Spaces</th>
                <th>Commits</th>
                <th>Average Time Between Commits</th>
                <th>Lines Added</th>
                <th>Lines Deleted</th>
                <th>Foreign Watermark</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var result in Model)
            {
            <tr>
                <td>@result.StudentName</td>
                @if (result.DueDateHighlight == "caution")
                {
                    <td class="cautionHighlight"><div>@result.CommitDate</div><div><strong>**Past Due**</strong></div></td>
                }
                else
                {
                    <td>@result.CommitDate</td>
                }
                @if (result.WatermarkHighlight == "caution")
                {
                    <td class="cautionHighlight">@result.Watermarks</td>
                }
                @if (result.WatermarkHighlight == "danger")
                {
                    <td class="dangerHighlight">@result.Watermarks</td>
                }
                @if (result.WatermarkHighlight == "none")
                {
                    <td>@result.Watermarks</td>
                }
                @if (result.WhitespaceHighlight == "caution")
                {
                    <td class="cautionHighlight">@result.Whitespaces</td>
                }
                @if (result.WhitespaceHighlight == "danger")
                {
                    <td class="dangerHighlight">@result.Whitespaces</td>
                }
                @if (result.WhitespaceHighlight == "none")
                {
                    <td>@result.Whitespaces</td>
                }
                <td>@result.NumberOfCommits</td>
                <td><div>Days: @result.AverageTime.Days</div> <div>Hrs: @result.AverageTime.Hours</div> <div>Mins: @result.AverageTime.Minutes</div> <div>Secs: @result.AverageTime.Seconds</div></td>
                <td>@result.LinesAdded</td>
                <td>@result.LinesDeleted</td>
                @if (result.OtherWatermark != "none")
                {

                    string otherWatermarkURL = String.Format("/Assignments/OtherWatermarkDetails?id={0}", result.OtherWatermarkID);

                    //<td class="dangerHighlight">@result.OtherWatermark</td>
                    <td class="dangerHighlight"><a href="@otherWatermarkURL">@result.OtherWatermark</a></td>
                }
                else
                {
                    //For Testing
                    //string otherWatermarkURL = String.Format("/Assignments/OtherWatermarkDetails?id=18");
                    //<td class="dangerHighlight"><a href="@otherWatermarkURL">@result.OtherWatermark</a></td>
                    <td>@result.OtherWatermark</td>

                }
                <td>
                    @{
                        string detailURL = String.Format("/Assignments/ComparisonDetails?id={0}&studentAssignmentId={1}", ViewBag.AssignmentID, result.StudentAssignmentId);
                    }
                    <a href="@detailURL">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

