@model List<ACES.Models.Assignment>

@if (Context.Request.Cookies["IsLoggedIn"].ToString() != "1")
{
    <meta http-equiv="refresh" content="0; url=../Login/" />
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Courses</h2>

@if (Context.Request.Cookies["IsLoggedIn"].ToString() == "1")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th style="padding-left: 30px">Assignment</th>
            <th style="padding-left: 30px">Repository URL</th>
            <th style="padding-left: 30px">DueDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var assignment in Model) {
        <tr>
            <td style="padding-left: 30px">@assignment.Name</td>
            <td style="padding-left: 85px">@assignment.RepositoryUrl</td>
            <td style="padding-left: 70px">@assignment.DueDate</td>
            <td style="padding-left: 300px">
                <a asp-action="Edit" asp-route-id="@assignment.Id">Edit</a> |
                <a asp-action="CourseAssignments" asp-route-id="@assignment.Id">Assignments</a> |
                <a asp-action="Delete" asp-route-id="@assignment.Id">Delete</a> |
                <a asp-action="Archive" asp-route-id="@assignment.Id">Archive</a>
            </td>
        </tr>
}
    </tbody>
</table>

}