@model ACES.Models.ViewModels.StudentRepoVM

@if (Context.Request.Cookies["IsLoggedIn"].ToString() != "1")
{
    <meta http-equiv="refresh" content="0; url=../Login/" />
}

@{
    ViewData["Title"] = "Student Repo Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string error = (string)TempData["error"];
    string warning = (string)TempData["warning"];
    string errorDeletingfiles = (string)TempData["errorDeletingFiles"];
    string labelRepo;
    if (String.IsNullOrWhiteSpace(warning))
    {
        labelRepo = "Please Enter your Repo URL (E.g., https://github.com/InstructorClassroom/Assignment1-JohnDoe):";
    }
    else
    {
        labelRepo = String.Empty;
    }
}

<h2>Student Repository</h2>
<br />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            @if (!String.IsNullOrWhiteSpace(error))
            {
                <label class="control-label" style="color:red"><b>@error</b></label>
            }
            <div class="form-group">
                <label name="RepoURL" class="control-label">@labelRepo</label>
                <input name="RepoURL" value="@ViewBag.repoURL" class="form-control" />
            </div>
            <input name="assignmentId" value="@ViewBag.assignmentId" type="hidden" />

            @if (String.IsNullOrWhiteSpace(warning))
            {
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(warning))
            {
                <div class="form-group">
                    <label name="Agreed" class="control-label">To delete all your repo files and start over, type <b>Agreed</b> before clicking the button below:</label>
                    <input name="Agreed" class="form-control" />
                </div>
                @*<div class="form-group">
                        <label class="control-label"><b><i>@warning</i></b></label>
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="Delete All Repo Files and Start Over" class="btn btn-primary" />
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(errorDeletingfiles))
            {
                <div class="form-group">
                    <label class="control-label" style="color:red"><b><i>@errorDeletingfiles</i></b></label>
                </div>
                <div class="form-group">
                    <label name="Agreed" class="control-label">Click <b>Home</b> to exit this screen. Otherwise, please type <b>Override</b> if you verified that your repo files are already deleted manually and you want to re-add template(s) to start this assignment again:</label>
                    <input name="Agreed" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label"><b><i>@warning</i></b></label>
                </div>
                <div class="form-group">
                    <input type="submit" value="My Repo is empty. Paste New Template(s)" class="btn btn-primary" />
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
