@model ACES.Models.JSON

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete these Watermarks?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplaceWatermark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplaceWatermark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhitespaceLines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhitespaceLines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandomStringLines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandomStringLines)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Assignments" asp-action="AssignmentsJson" asp-route-id="@Model.AssignmentId">Back to List</a>
    </form>
</div>
