@model List<ACES.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Courses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="padding-left: 30px">Course</th>
            <th style="padding-left: 30px">Total Assignments</th>
            <th style="padding-left: 30px">Total Students</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var course in Model) {
        <tr>
            <td style="padding-left: 30px">@course.CourseName</td>
            <td style="padding-left: 85px">@course.NumAssignments</td>
            <td style="padding-left: 70px">@course.NumStudents</td>
            <td style="padding-left: 300px">
                <a asp-action="Edit" asp-route-id="@course.Id">Edit</a> |
                <a asp-action="CourseAssignments" asp-route-id="@course.Id">Assignments</a> |
                <a asp-action="Delete" asp-route-id="@course.Id">Delete</a> |
                <a asp-action="Archive" asp-route-id="@course.Id">Archive</a>
            </td>
        </tr>
}
    </tbody>
</table>
